@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
* {
    box-sizing: border-box;
}
body, 
html {
    font-size: 1.5em;
    font-family: 'georgia', sans-serif;
}

figure, 
img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

p {
    line-height: 1.7em;
}

header {
    margin-bottom: 16px;
}

header p {
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container.image {
    max-width: 1200px;
    padding: 0;
}



.annotate {
    position: relative;
}

.annotate .dot {
    width: 50px;
    height: 50px;
    border: 2px solid #FFF;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    color: #FFF;
}

.annotate .dot .inner {
    position: absolute;
    opacity: 0;
    color: #FFF;
    padding: 25px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.annotate .dot .close {
    color: #FFF;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
    text-decoration: none;
    opacity: 0;
}

.annotate .dot.green {
    background-color: rgba(0, 110, 65, 0.65);
}

.annotate .dot.red {
    background-color: rgba(230, 11, 65, 0.65);
}

.annotate .dot.blue {
    background-color: rgba(11, 18, 230, 0.65);
}

.annotate .dot.pink {
    background-color: rgba(240, 12, 182, 0.65);
}

#mary:not(.active) {
    top: 65%;
    left: 35%;
}

#bruckner:not(.active) {
    top: 67%;
    left: 38%;
}

#bruckner2:not(.active) {
    top: 65%;
    left: 50%;
}

#roof:not(.active) {
    top: 65%;
    left: 30%;
}

.annotate .dot.active {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0;
    border: 0;
    z-index: 2;
}

.annotate .dot.active .inner,
.annotate .dot.active .close {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

@media(min-width: 681px) {

    .annotate .dot.active .inner {
        padding: 75px;
    }
}

@media(min-width: 805px) {
    .container {
        padding: 0;
    }
}